@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-slate-900 text-white min-h-screen overflow-x-hidden;
  margin: 0;
  padding: 0;
}

@theme {
  --animate-fade-in: fadeIn 0.5s ease-out forwards;
  --animate-fade-in-down: fadeInDown 0.5s ease-out forwards;
  --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}